@import "variables";

.btn-blue {
    background-color: $btn-blue;

}
.custom-input {
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.people-rooms-input {
    border: none;
    padding: 10px;
}

.people-rooms-input button {
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
}

